<%- include("../cabecalho") %>


<!DOCTYPE html>

    <div class="mae">
      <div id="principal">
        <h1 id="titulo_perfil"><b>Perfil da Empreiteira</b></h1>
        <b class="titulo"></b>Razão Social: razaoSocialEmpreiteira2</b>
        <p  class="sub">São Paulo</p>
        <b class="titulo">Nome Fantasia</b>
        <p class="sub">nomeFantasiaEmpreiteira2</p>
        <b class="titulo">CNPJ:</b>
        <p class="sub">13259/125:051</p>
        <b class="titulo">Endereço Corporativo:</b>
        <p class="sub">Bairro Butantã</p>
        <b class="titulo">Ja trabalhou com a MRV:</b>
        <p class="sub">Sim</p>
        <b class="titulo">Documentação em dia:</b>
        <p class="sub">Sim</p>
        <b class="titulo">Feedbacks:</b>
        <div class="feedbacks">
          <b>Obra:São Jorge</b>
          <p><b>Feedback:Entrega em dia.</b></p>

        </div>
        <b>Informações para contato:</b><br>
        <div class="info">
          <b class="informacao">nome: João Alves</b><br />
          <b class="informacao">CPF:1782151025</b><br />
          <b class="informacao">Email: joaoalves@gmail.com</b><br />
          <b class="informacao">Telefone:11982571351</b><br />
          <b class="informacao">Sexo:M</b><br />
          <b class="informacao">Departamento:Comercial</b><br />
          <b class="informacao">Função: analista comercial</b><br />
        </div>
        <b>Especialidades:</b>
        <div class="especialidades">
          <p class="info">Pintura</p>
          <p class="info">Cerâmica</p>
          <p class="info">Hidráulico</p>
        </div>
        <b>Certificados:</b>
        <div class="certificados">
          <p class="info">certificado a</p>
          <p class="info">certificado ab</p>
          <p class="info">certificado abc</p>
        </div>
        <b>Contratos:</b>
        <div class="contratos">
          <b>nome:</b><br>
          <b>validade:</b><br>
          <b>Local:</b><br>
          <b>quantidade de funcuionários:</b><br>
          <b>Pendências:</b><br>
        </div>
        <b>Funcionários:</b>
        <div class="funcionarios">
          <p><b>Nome:</b></p>
          <p><b>Pendências</b></p>
          <p><b>Status</b></p>
        </div>
        <b>Oportunidades inscritas</b>
        <div class="oportunidades">
          <p><b>Nome:</b></p>
          <p><b>Status:</b></p>
          <p><b>Obra:</b></p>
          <p><b>Data de início:</b></p>
        </div>
      </div>
    </div>
    
  </body>
</html>

<%- include("../rodape") %>
