<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inserir obra</title>
  </head>
  <body>
    <h2>inserir obra</h2>
    <form method="post" action="/cadastro/inserirObra">
      <div>
        <label for="obra">obra</label>
        <input type="text" name="obra" />
        <label for="especialidade">Especialidade</label>
        <input type="text" name="especialidade" />
        <label for="nome_oportunidade">Nome Oportunidade</label>
        <input type="text" name="nome_oportunidade" />
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" />
        <label for="titulo">Titulo da obra</label>
        <input type="text" name="titulo" />
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" />
        <label for="resumo">Resumo</label>
        <input type="text" name="resumo" />
        <label for="qtd">Quantidade de pessoas desejadas</label>
        <input type="text" name="quantidade_pessoas_desejadas" />
        <label for="data">Data de inicio</label>
        <input type="text" name="data_inicio" /><br />
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
